.learner-container {
    display: flex;
    height: 79px;
    border-top: 1px solid rgb(236, 236, 236);
    border-left: none;
    border-right: none;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
}

.learner-container:hover {
    background-color: rgb(221, 240, 255);
}

.learner-circle {
    padding-left: 48px;
}

.learner-icon {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 79, 121);
    color: white;
    border-radius: 50px;
    margin-left: 5px;
}

.learner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17%;
}

.learner-username {
    text-align: left;
    margin: 0px;
    font-size: 17px;
    color: grey;
    margin-bottom: 5px;
}

.learner-progress-bar {
    height: 8px;
    width: 100%;
    background-color: rgb(226, 231, 233);
    border-radius: 15px;
}

.learner-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.learner-details * {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    width: 100px;
    margin: 0px 100px 0px 0px;
    font-size: 15px;
}

.learner-percent-symbol,
.learner-time-min {
    font-size: 12px;
    font-style: italic;
    color: grey;
    margin-bottom: 1px;
}

.learner-options {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 48px;
}

/* Popup menu */
.learner-options-container:not(.hidden) {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 30px;
    margin: 10px 0px 0px 0px;
    border: 1px solid rgb(168, 168, 168);
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
}

.learner-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    cursor: pointer;
}

.learner-options i {
    color: grey;
}

.learner-container:hover .learner-options i.fa-angle-right {
    color: rgb(0, 162, 255);
}

.learner-option p {
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    font-weight: 400;
}

.learner-option:hover,
.learner-option:hover i {
    background-color: rgb(46, 131, 180);
    color: white;
    border-radius: 0px;
}
