/* Login Modal */
#login-form-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
}

#close-login-modal-button {
    position: absolute;
    top: 30px;
    right: 20px;
    color: grey;
    cursor: pointer;
}

#login-modal-prompt {
    color: rgb(41, 71, 110);
}

/* Login Form */
#login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-email-input,
#login-password-input {
    width: 70%;
    color: rgb(175, 175, 175);
}

#login-email-prompt,
#login-password-prompt {
    position: absolute;
    font-family: 'Noto Sans Lao', arial, sans-serif;;
    font-weight: 600;
    cursor: pointer;
    padding-left: 0px;
    transition: top 0.2s, font-size 0.2s, font-weight 0.2s;
}

#login-email-prompt {
    top: 125px;
}

#login-password-prompt {
    top: 188px;
}

/* Stuff to make the "placeholders" move */
#login-email-input:focus-within #login-email-prompt,
#login-email-input #login-email-prompt.stay {
    top: 98px;
    font-size: 13px;
    font-weight: 400;
}

#login-password-input:focus-within #login-password-prompt,
#login-password-input #login-password-prompt.stay {
    top: 166px;
    font-size: 13px;
    font-weight: 400;
}

/* Back to form stuff */
#login-password-input {
    padding: 30px 0px;
}

#login-email-input input,
#login-password-input input {
    border: none;
    border-bottom: 3px solid rgb(240, 240, 240);
    outline: none;
    width: 100%;
    padding: 5px 0px 5px 3px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: rgb(41, 97, 170);
}

#login-email-input input:focus,
#login-password-input input:focus {
    caret-color: rgb(0, 162, 255);
    border-bottom: 3px solid rgb(0, 162, 255);
}

/* Login Button */
#login-button {
    text-align: center;
    border: none;
    background: none;
    width: 65%;
    padding: 10px 4px;
    border-radius: 100px;
    background-color: rgb(255, 125, 65);
    border: 4px solid rgb(255, 255, 255);
    color: white;
    transition: border 0.1s;
    cursor: pointer;
}

#login-button:disabled {
    background-color: rgb(187, 187, 187);
    cursor: not-allowed;
}

#login-button:focus {
    border: 4px solid rgb(105, 175, 255);
}

/* Error Handling */
#login-errors {
    list-style-type: none;
    padding: 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(214, 0, 0);
}

/* Other Session Options */
#other-session-options {
    width: 79%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#other-session-options * {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    color: rgb(102, 102, 102)
}
