#class-enroll-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 889px;
    background-color: rgb(247, 247, 247);
}

#enroll-class-prompt-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#enroll-class-image {
    height: 246px;
    width: 246px;
}

#enroll-class-prompt {
    display: flex;
    flex-direction: column;
}

#enroll-class-prompt *:not(#enroll-class-name) {
    margin: 10px 0px;
}

#enroll-class-name {
    font-weight: 800;
    margin: 0px;
    font-size: 50px;
}

#enroll-class-credit {
    font-weight: 300;
}

#enroll-class-creator {
    font-weight: 600;
}

#enroll-class-creator-name {
    color: rgb(191, 0, 216);
}

#enroll-class-button,
#enroll-class-button-logged-out button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 125, 65);
    color: white;
    font-size: 12px;
    font-weight: 500;
    height: 22px;
    width: 90px;
    padding: 25px 70px;
    cursor: pointer;
    border: none;
}

#enroll-class-button-logged-out button {
    height: 72px;
    width: 230px;
}

/* class stats */
#enroll-class-stats {
    display: flex;
    background-color: white;
    color: rgb(58, 58, 58);
    padding: 50px;
    width: 40%;
    justify-content: space-between;
}

.enroll-class-stat {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
}

/* class decks */
#enroll-class-decks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#enroll-class-decks h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(56, 56, 56);
}

#enroll-class-decks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 500px;
}

.enroll-class-deck {
    cursor: pointer;
    width: 73%;
    height: fit-content;
    display: flex;
    gap: 40px;
    background-color: white;
    padding: 32px;
    border-left: 15px solid rgb(226, 232, 235);
    border-bottom: 1px solid rgb(226, 232, 235);
}

.enroll-class-deck:hover {
    background-color: rgb(224, 244, 255);
}

.enroll-class-deck:hover .enroll-class-deck-middle-left {
    text-decoration: 3px underline rgb(0, 162, 255);
}

.enroll-class-deck * {
    margin: 0px;
}

.enroll-class-deck-left {
    height: 90px;
    width: 90px;
}

.enroll-class-deck-middle-left {
    color: rgb(56, 56, 56);
    min-width: 500px;
    max-width: 800px;
    white-space: wrap;
    word-break: break-word;
    text-align: left;
    overflow: hidden;
    flex-grow: 1;
}

.enroll-class-deck-middle-left h3 {
    font-size: 25px;
}

.enroll-class-deck-middle-left p {
    font-size: 15px;
    font-weight: 300;
}

.enroll-class-deck-middle-right {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    color: grey;
    margin: 0px 150px;
}

.enroll-class-deck-right {
    align-self: center;
    color: rgb(0, 162, 255);
}

#enroll-class-no-decks {
    display: flex;
    gap: 10px;
    align-items: center;
}
