#create-class-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    width: 630px;
    height: fit-content;
}

#close-create-class-modal-button {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(130, 148, 155);
    cursor: pointer;
    padding: 20px 10px 20px 10px;
    border-radius: 30px;
}

#close-create-class-modal-button:hover {
    color: rgb(0, 162, 255);
    background-color: rgba(107, 107, 107, 0.144);
}

#create-class-prompt {
    color: rgb(48, 79, 121);
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0px 0px;
}

#create-class-explaination {
    font-weight: 300;
    font-size: 17px;
}

#create-class-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-class-title-input {
    height: 40px;
    width: 332px;
    padding: 8px 18px;
    border-radius: 5px;
    border: 3px solid rgb(175, 199, 207);
    outline: none;
    color: grey;
    font-size: 20px;
    font-weight: 500;
}

#create-class-title-input::placeholder {
    font-weight: 300;
    color: rgb(212, 212, 212);
    font-size: 15px;
}

#create-class-input-text {
    font-size: 13px;
    font-weight: 600;
    color: rgb(112, 112, 112);
}

#create-class-form-button {
    height: 42px;
    padding: 0px 29px;
    border: none;
    background: none;
    background-color: rgb(130, 148, 155);
    color: white;
    border-radius: 30px;
    font-weight: 200;
}

#create-class-form-button:not(:disabled) {
    cursor: pointer;
}

#create-class-form-button:disabled {
    background-color: rgb(207, 207, 207);
}

#create-class-input-error {
    padding: 0px 0px 20px 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(214, 0, 0);
}
