#all-classes-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 500px;
}

#all-classes-prompt {
    color: rgb(56, 56, 56);
    margin: 20px 0px 0px 0px;
}

#all-classes-explanation {
    font-weight: 300;
    margin: 0px 0px 20px 0px;
}

#classes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.class-card-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
    width: 1400px;
    cursor: pointer;
}

.class-card-container:hover {
    background-color: rgb(198, 225, 235);
}

.class-card-image {
    height: 138px;
}

.class-card-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.class-card-info-container * {
    margin: 0px;
}

.class-card-class-name {
    font-weight: 300;
    color: rgb(0, 162, 255);
}

.class-card-class-decks,
.class-card-class-creator {
    font-size: 13px;
    color: rgb(126, 126, 126);
    white-space: wrap;
    word-break: break-word;
    overflow: hidden;
    width: 800px;
    text-align: left;
}

.class-card-class-creator-name {
    color: rgb(0, 162, 255);
}

.class-card-class-stats {
    font-size: 14px;
    color: rgb(61, 61, 61);
}

.class-card-caret-right {
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: rgb(0, 162, 255);
}
