/* Side panel */
#about-page-container {
    display: flex;
    width: 100%;
    height: 150%;
}

#about-side-panel {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgb(219, 231, 235);
    padding-top: 10px;
}

#about-side-panel a {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

#about-side-panel a.selected {
    font-weight: 600;
}

.about-panel-section {
    padding: 12px 24px;
    border-left: 10px solid rgba(255, 0, 0, 0);
    font-size: 15px;
    cursor: pointer;
}

.about-panel-section:hover,
.about-panel-section.selected:hover {
    border-left: 10px solid rgba(180, 180, 180, 0.493);
}

.about-panel-section.selected {
    border-left: 10px solid rgb(144, 171, 187);
}

/* About stuff */
#about-page-forms-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: 795px;
    padding: 5px 50px 0px 50px;
    flex-grow: 1;
}

#about-page-forms-container.active {
    background-color: rgb(255, 249, 244);
}

#about-preview-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    gap: 10px;
    height: 31px;
}

#about-preview-container.hidden {
    display: none;
}

#about-preview-close-button {
    margin-top: 2px;
}

#editing-what {
    text-align: center;
    font-size: 13px;
    padding: 5px;
    color: rgb(255, 125, 65);
}

.about-input-prompt-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.about-input-prompt-container:not(.no-underline) {
    border-bottom: 1px solid rgb(146, 154, 156);
}

.about-page-form {
    padding-bottom: 20px;
}

.about-input-prompt-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-input-prompt-left i {
    color: rgb(177, 177, 177);
}

.about-input-prompt {
    margin:  0px;
    color: rgb(0, 136, 214);
}

.about-form-edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 18px;
    width: 18px;
    padding: 5px;
}

.about-form-edit-button:hover {
    color: rgb(0, 136, 214);
    background-color: rgba(189, 189, 189, 0.562);
    border-radius: 20px;
}

.about-input-prompt-right {
    display: flex;
    align-items: center;
}

.about-input-prompt-right.hidden {
    display: none;
}

.about-form-cancel-button {
    cursor: pointer;
    padding: 0px;
    margin:  0px;
    font-size: 13px;
    text-decoration: underline;
    color: rgb(119, 119, 119);
}

.about-form-line {
    height: 22px;
    border-left: 1px solid rgb(177, 177, 177);
    margin: 0px 10px 0px 10px;
}

.about-form-save-button {
    font-size: 13px;
    border-radius: 20px;
    background-color: rgb(255, 125, 65);
    color: white;
    padding: 1px 20px;
    cursor: pointer;
    border: none;
}

.about-form-text {
    color: rgb(177, 177, 177);
}

/* Inputs here because i dont want to go up and down to find them */
.about-form-chars-container {
    margin: 0px;
    font-size: 10px;
    color: rgb(73, 73, 73);
}

.about-form-chars-container p {
    margin: 0px;
}

.about-form-chars-container span {
    color: rgb(192, 0, 0);
}

#about-headline-form {
    width: 99%;
    height: 100px;
    border-color: rgb(219, 231, 235);
    outline: none;
    padding: 10px;
    font-size: 18px;
    resize: vertical;
    color: rgb(73, 73, 73);
}

#about-description-form{
    width: 99%;
    height: 340px;
    border-color: rgb(219, 231, 235);
    outline: none;
    padding: 10px;
    font-size: 18px;
    resize: vertical;
    color: rgb(73, 73, 73);
}

#about-description-form::placeholder,
#about-headline-form::placeholder {
    color: grey;
}

.over {
   border: 1px solid rgb(192, 0, 0);
}

.warn {
    background-color: rgba(192, 0, 0, 0.418);
}

/* The radio buttons */
#about-settings-container {
    padding-bottom: 700px;
}

#about-settings-options {
    display: flex;
    gap: 15px;
}

.radio-section-prompt {
    margin: 0px 0px 5px 0px;
    font-style: italic;
    font-size: 13px;
    color: rgb(94, 94, 94);
}

.radio-section-radios {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 15px;
}

.radio-label-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-label-container input {
    margin: 0px;
    height: 20px;
    width: 20px;
    accent-color: rgb(0, 136, 214);
}

.radio-label-container label {
    font-size: 13px;
}
