#homepage {
    height: 889px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(37, 142, 168);
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("https://www.brainscape.com/pks/static/assets/images/cms/public-views/pages/landing/band-1/image-1-e10d192395aee617c5e9.jpg");
    background-size: cover;
    background-position: center;
}

#homepage * {
    color: white;
}

#image-carousel {
    overflow-x: hidden;
    max-width: 100vw;
    display: flex;
}

#images-container {
    max-width: 100vw;
    display: flex;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}

#images-container.transitioning {
    animation: slide 2.5s;
}

#images-container img {
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    height: auto;
    min-width: 100vw;
}

#homepage-text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    display: flex;
    flex-direction: column;
    padding: 57px;
    width: 1300px;
}

.homepage-h2 {
    display: flex;
    align-items: center;
    height: 140px;
    margin: 0px;
    font-size: 140px;
    font-weight: 900;
}

#homepage-h3 {
    font-weight: 200;
    font-size: 40px;
}

#homepage-span {
    font-weight: 500;
}

#homepage-button-container {
    display: flex;
    gap: 20px;
}

#find-flashcards-button {
    padding: 30px 75px;
    background-color: rgb(0, 162, 255);
    cursor: pointer;
}

#homepage-button-container button {
    padding: 30px 75px;
    background-color: rgb(236, 236, 236);
    color: black;
    border: none;
    cursor: pointer;
}
