#dashboard-decks-prompt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 42px 20px 42px;
    border-bottom: 1px solid grey;
}

#dashboard-decks-prompt-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

#dashboard-decks-prompt-right button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
    color: rgb(124, 154, 158);
    height: 20px;
    width: 20px;
    padding: 0px;
    border-radius: 40px;
    border: 15px solid rgba(255, 0, 0, 0);
}

#dashboard-decks-prompt-right button:hover {
    color: rgb(255, 125, 65);
    border: 15px solid rgba(107, 107, 107, 0.144);
}

.deck-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px 24px 42px;
    border-bottom: 1px solid grey;
    height: fit-content;
    cursor: pointer;
}

.deck-container-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.deck-container:hover {
    background-color: rgb(198, 225, 235);
}

.deck-progress-percent {
    color: rgb(146, 154, 156);
}

.deck-container:hover .deck-progress-percent {
    color: purple;
}

.deck-info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.deck-name {
    color: rgb(48, 79, 121);
    font-weight: 800;
}

.deck-container:hover .deck-name {
    color: rgb(0, 162, 255);
}

.deck-progress-bar {
    background-color: rgb(226, 231, 233);
    height: 8px;
    width: 30vw;
    border-radius: 15px;
}

.deck-container-right {
    display: flex;
    align-items: center;
    gap: 2px;
}

.deck-container-right button {
    background: none;
    border: none;
}

/* .deck-container-right.empty button {
    display: none;
} */

.deck-container-right button i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 20px;
    padding: 3px;
    color: rgb(124, 154, 158);
    cursor: pointer;
}

.deck-container-right-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 8px;
    color: rgb(124, 154, 158);
}

.deck-container:hover button:hover i,
.deck-container:hover .deck-container-study {
    color: rgb(0, 162, 255);
}

.deck-container-right button:hover,
.deck-container-right-icons:hover {
    color: rgb(0, 162, 255);
    background-color: rgba(151, 151, 151, 0.39);
    border-radius: 100px;
}

.deck-container-right:not(.empty) .deck-container-add {
    display: none;
}

.deck-container-add {
    background-color: rgb(255, 125, 65);
    color: white;
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 30px;
    margin: 0px 5px 0px 5px;
}

/* Empty deck styles */
#empty-deck-message-container {
    padding: 42px;
}

#empty-deck-prompt {
    margin: 0px;
    color: rgb(48, 79, 121);
}

#empty-deck-message {
    color: rgb(58, 58, 58);
}

#empty-deck-message-container button {
    border: none;
    background-color: rgb(255, 125, 65);
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: 200;
    font-size: 15px;
    cursor: pointer;
}

.hidden {
    display: none;
}
