#learners-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#learner-prompt {
    margin-left: 48px;
    margin-right: 515px;
}

#learner-mastery {
    margin-right: 50px;
}

#learner-days {
    margin-right: 20px;
}

#learner-time {
    margin-right: 22px;
}

#learner-cards {
    margin-right: 15px;
}

.learner-info-bar-header {
    font-size: 13px;
    color: grey;
}

#learner-info-bar {
    display: flex;
    width: 100%;
    gap: 100px;
}

#learners-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

#add-learner-container-container {
    display: flex;
    height: 79px;
    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
    border-left: none;
    border-right: none;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    padding: 20px 0px;
}

#add-learner-container-container button {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    padding-left: 48px;
}

#add-learner-container {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

#add-learner-circle {
    margin-right: 5px;
}

#add-learner-icon {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 125, 65);
    color: white;
    border-radius: 50px;
}

#add-learner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#add-learner-prompt {
    text-align: left;
    margin: 0px;
    font-size: 17px;
    color: grey;
    margin-bottom: 5px;
}

#add-learner-progress-bar {
    height: 8px;
    width: 35%;
    background-color: rgb(226, 231, 233);
    border-radius: 15px;
}

#learners-page-extras {
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    gap: 100px;
}

#share-link-container {
    display: flex;
    flex-direction: column;
}

#share-link-container * {
    margin: 0px;
}

#share-link-container > p,
#learner-radio-prompt {
    font-size: 11px;
    margin: 0px;
    color: rgb(94, 94, 94);
}

#link-container {
    display: flex;
    align-items: center;
    color: rgb(94, 94, 94);
    font-size: 12px;
    gap: 5px;
}

#copy-container {
    color: rgb(0, 162, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: flex-end;
    font-size: 12px;
    cursor: pointer;
}

#copy-container.copied {
    color: rgb(0, 156, 0);
    font-style: italic;
}

/* Radio buttons */
#class-visibility-container {
    margin: 0px;
}

#radio-section-radios {
    display: flex;
    align-items: center;
    gap: 20px;
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.radio-container input {
    accent-color: rgb(0, 136, 214);
    margin: 0px;
}
